.service-tabs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
    margin-bottom: 34px
}

.tab-btn {
    border: 1px solid var(--line);
    background: white;
    color: #456679;
    padding: 13px 18px;
    border-radius: 999px;
    font-weight: 900;
    cursor: pointer;
    transition: .3s
}

.tab-btn.active,
.tab-btn:hover {
    background: var(--primary);
    color: white
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 22px
}

.service-card {
    background: white;
    border: 1px solid var(--line);
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 18px 55px rgba(16, 42, 67, .08);
    transition: .3s
}

.service-card:hover {
    transform: translateY(-8px)
}

.service-card img {
    height: 210px;
    width: 100%;
    object-fit: cover
}

.service-body {
    padding: 24px
}

.service-body h3 {
    font-size: 1.28rem;
    margin-bottom: 7px
}

.service-body h4 {
    color: var(--primary);
    font-size: .95rem;
    margin-bottom: 16px
}

.service-body p {
    display: flex;
    gap: 10px;
    color: var(--muted);
    line-height: 1.55;
    margin-bottom: 12px
}

.service-body p span {
    color: var(--primary)
}

.service-body img {
    width: 20px;
    height: 20px;
}

.service-btn {
    margin-top: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: linear-gradient(135deg, #25d366, #128c7e);
    color: #fff;
    border: 0;
    padding: 14px;
    border-radius: 18px;
    font-weight: 900;
    cursor: pointer
}